body
{
    padding: 0;
    margin: 0%;
    font-family: sans-serif;
    background-image: url(./my\ rm].jpg);
    /* background-size: 40rem; */
    background-position: center;
    /* background-color: darkblue; */
}




.sign{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background-color: beige;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    
}
.sign h1
{
    color: blanchedalmond;
    margin-bottom: 30px;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    /* width: 100%; */
    border: 1px solid wheat;
    outline: none;
}
.ddd
{
    color: gold;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.ddd
{
    background-color:bisque;
}
a
{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width: 80%;
}
.or
{
    background: white;
    width: 30px;
    margin: -19px auto 10px;
}















